root = true

[*.{md,qmd}]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = false

[*.toml]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yaml,yml}]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true