{#
    This changelog template controls which changelog creation occurs
    based on which mode is provided.

    Modes:
        - init: Initialize a full changelog from scratch
        - update: Insert new version details where the placeholder exists in the current changelog

#}{%  block
%}{#
#}{%  variable
%}{#
#}